@model Genre
<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">Name: @Model.Name</div>
            <div class="p-3 border bg-light">BooksCount: @Model.Books.Count</div>
            <div class="p-3 border bg-light">CreatedDate: @Model.CreatedDate</div>
        </div>
        <div class="col">
            <a class="btn btn-outline-primary" asp-action="index">Go back</a>
        </div>
    </div>
</div>

